<div class = "jumbotron center" >
<h1>Welcome to Dentists</h1>
<p>Sign Up <%= link_to "here", "#", class:"btn btn-default" %></p>
<p>Log in <%= link_to "here", "#", class:"btn btn-default" %></p>
</div>